<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>trangcq.filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>trangcq.filters.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>trangcq.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/search</url-pattern>
        <url-pattern>/category</url-pattern>
        <url-pattern>/searchItem</url-pattern>
        <url-pattern>/viewItemDetail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/borrowItem</url-pattern>
        <url-pattern>/view</url-pattern>
        <url-pattern>/updateItem</url-pattern>
        <url-pattern>/deleteItem</url-pattern>
        <url-pattern>/confirm</url-pattern>
        <url-pattern>/searchRequestHistory</url-pattern>
        <url-pattern>/historyRequest</url-pattern>
        <url-pattern>/deleteRequestHistory</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/requests</url-pattern>
        <url-pattern>/status</url-pattern>
        <url-pattern>/searchRequest</url-pattern>
        <url-pattern>/requests</url-pattern>
        <url-pattern>/manage</url-pattern>
        <url-pattern>/deleteRequest</url-pattern>
        <url-pattern>/acceptRequest</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/filenotfound.html</location>
    </error-page>
</web-app>
